# MongoDB Connection
MONGODB_URI=mongodb+srv://shivamyadav24566_db_user:uv1vvti5mLslWeMN@cluster0.kdttclj.mongodb.net/finance_tracker

# JWT Secret (use a long random string)
JWT_SECRET=ADFDFNDFJNSFNIONN

# Server
PORT=5000
NODE_ENV=development

# Python Service URL
PYTHON_SERVICE_URL=http://localhost:8000

# CORS Origin (your frontend URL)
CORS_ORIGIN=http://localhost:3000
